/* set de varivel / root
(para não ter de repetir varivel de cor) */

:root {
    --variable-exemple: rgb(3, 2, 5);
}

/* reset css (remove estilo de fabrica) */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
