/* @impor como o nome diz, importa varivel
(também importa fontes) */

@import url('./global.css');

/* aplicação da variavel global no bg */

body {
    background-color: var(--variable-exemple);
}

.hero {
    margin-top: 56;
    background: url('../assets/image/❥~𝒔𝒚𝒏𝒕𝒉\ 𝒉𝒂𝒏𝒅𝒔.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
